.git
.gitmodules
.DS_Store
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.so
**/*.egg-info
data/
output/
outputs/
pretrained_gaussians/
calibration/
assets/
stereomis/
SIBR_viewers/
submodules/depth_anything/
*.log
*.mp4
*.zip
*.tar
*.tar.gz
*.tar.zst
tmp/
